In [1]:
from mypandas.sqldf import MyPandas
URI = "mysql://root:password@localhost/leetcode"

In [2]:
QUERY = """
SELECT *
FROM Purchases p1, Purchases p2;
"""

In [3]:
MyPandas(URI)(QUERY, locals())

     user_id          time_stamp  amount  user_id          time_stamp  amount
0          4 2022-11-24 21:50:35    1260        1 2022-07-27 08:41:59    1059
1          5 2022-02-01 05:05:34    6756        1 2022-07-27 08:41:59    1059
2          4 2022-02-11 18:28:11    7134        1 2022-07-27 08:41:59    1059
3          2 2022-03-19 19:24:02    4678        1 2022-07-27 08:41:59    1059
4          4 2022-07-11 21:07:11    6443        1 2022-07-27 08:41:59    1059
..       ...                 ...     ...      ...                 ...     ...
139        3 2022-01-10 15:45:25    3149        4 2022-11-24 21:50:35    1260
140        6 2022-07-29 18:25:31    7636        4 2022-11-24 21:50:35    1260
141        1 2022-11-24 02:31:07    2632        4 2022-11-24 21:50:35    1260
142        6 2022-04-18 12:03:09    4523        4 2022-11-24 21:50:35    1260
143        1 2022-07-27 08:41:59    1059        4 2022-11-24 21:50:35    1260

[144 rows x 6 columns]